<div class="container">
  <div class="row">
    <div class="col">
      <div class="section">
      <h2>Lesson 1: Select Database</h2>
      <p>Welcome to ABCSQL! A game designed for learners in managing data stored in databases </p>
      <p>Let's start by entering a SQL command that chooses the UHack database!</p>
      <div class="form-group">
        <label> *Tip: Check the placeholder 😉</label>
        <textarea class="form-control" name="userinput" runat="server" [(ngModel)]="query" rows="1" (keyup)="sqlChanges($event)"></textarea>
        <br>
        <a href="/lesson-2" class="btn btn-success" role="button">Next Lesson</a>
      </div>
      </div>
    </div>

    <div class="col abc-col">
      <div class="row">
        <div class="col">
          <img id="abc-table" src="../../../assets/Uhack.png" width="220" height="225">
        </div>
        <div class="col">
          <img id="abc-table" src="../../../assets/Swamphack.png" width="220" height="225">
        </div>
      </div>
      <div class="row">
        <div class="col" >
          <img id="abc-table" src="../../../assets/Shellhacks.png" width="220" height="225">
        </div>
        <div class="col">
          <img id="abc-table" src="../../../assets/Mangohacks.png" width="220" height="225">
        </div>
      </div>
    </div>
  </div>
</div>
