<div class="home-container">
  <img src="../../../assets/Laptop_keyboard.jpg" alt="background">

  <div class="content-wrapper">
        <div class="jumbotron">
                <h1 class="display-4">Post Book!</h1>
                <p class="lead">Sample app built to demonstrate Authentication, Rest APIs, JWT.</p>
                <hr class="my-4">
                <p>Built with Node and Angular.</p>
                <p class="lead left">
                    <a class="btn btn-primary btn-md" [routerLink] = "['/login']" role="button">Login</a>
                </p>
                <p class="lead right">
                    <a class="btn btn-success btn-md" [routerLink] = "['/register']" role="button">Register</a>
                </p>
        </div>
  </div>
</div>
