<div class="container">
  <div class="row">
    <div class="col">
      <div class="section">
      <h2>Lesson 2: Select tables</h2>
      <p>Now we are gonna select from the database a table.
      <br> There's 4 tables in this exercise, but we want to select the sponsors' table to see its information.
      </p>
      <div class="form-group">
        <textarea class="form-control" name="userInput" runat="server" [(ngModel)]="query" rows="1" (keyup)="sqlChange()"></textarea>
      </div>
        <a href="/lesson-1" class="btn btn-success cust-btn" role="button">Previous Lesson</a>
        <a href="/lesson-3" class="btn btn-success cust-btn" role="button">Next Lesson</a>
      </div>
    </div>
    <div class="col abc-col">
      <div class="row">
        <div class="col students">
          <h3 style="text-align: center">Students</h3>
          <img id="abc-table" src="../../../assets/sql_dummy_table.png" width="220" height="225">
        </div>
        <div class="col">
          <h3 style="text-align: center">Volunteers</h3>
          <img id="abc-table" src="../../../assets/sql_dummy_table.png" width="220" height="225">
        </div>
      </div>
      <div class="row">
        <div class="col" >
          <div class="sponsor">
          <h3 style="text-align: center">Sponsors</h3>
          <img id="abc-table" src="../../../assets/sql_dummy_table.png" width="220" height="225">
        </div>
        </div>
        <div class="col">
          <h3 style="text-align: center">Professors</h3>
          <img id="abc-table" src="../../../assets/sql_dummy_table.png" width="220" height="225">
        </div>
      </div>
    </div>
  </div>
</div>