.home-container {
    width: 100%;
    height: 100%;
}
img {
    position: relative;
    top:0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    opacity: 0.7;
}
.content-wrapper {
    position: absolute;
    left: 50%; 
    top:20%; 
}
.jumbotron {
    position: relative;
    left: -50%;
    top:-20%;
    margin: 0 auto;
    width: 100%;
    height: auto;
}
.right {
    float: right;
}
.left {
    float: left;
}

#h1-hp{margin-top:-500px;}