<div class="container">
    <div class="row">
        <div class="col">
            <div class="section">
                <h2>Lesson 3: Delete tables</h2>
                <p> Next step is gonna be deleting a table.
                    <br> We will be using a similar query but instead of selecting, now we are deleting.
                    <br> Go ahead and delete the student's table.
                </p>
                <div class="form-group">
                    <textarea class="form-control" name="userinput" runat="server" [(ngModel)]="query" rows="1" (keyup)="sqlChange()"></textarea>
                </div>
                <a href="/lesson-2" class="btn btn-success cust-btn" role="button">Previous Lesson</a>
                <a href="/lesson-4" class="btn btn-success cust-btn" role="button">Next Lesson</a>
            </div>
        </div>

        <div class="col abc-col">
            <div class="row">
                <div class="col">
                    <div class="students">
                    <h3 style="text-align: center">Students</h3>
                    <img id="abc-table" src="../../../assets/sql_dummy_table.png" width="220" height="225">
                    </div>
                </div>
                <div class="col">
                    <h3 style="text-align: center">Volunteers</h3>
                    <img id="abc-table" src="../../../assets/sql_dummy_table.png" width="220" height="225">
                </div>
            </div>
            <div class="row">
                <div class="col" >
                    <h3 style="text-align: center">Sponsors</h3>
                    <img id="abc-table" src="../../../assets/sql_dummy_table.png" width="220" height="225">
              </div>
                <div class="col">
                    <h3 style="text-align: center">Professors</h3>
                    <img id="abc-table" src="../../../assets/sql_dummy_table.png" width="220" height="225">
                </div>
            </div>
        </div>
    </div>
</div>