form {
    display: grid;
    align-self: center;
    vertical-align: middle;
}
h1 {
    text-align: center;
    margin: 2rem;
    color: #000;
}
label {
    color: black;
    font-weight: bold;
}

.form-group {
    width: 50%;
    margin: 20px auto;
}

button {
    color:black;
    width: 30%;
    margin: 25px auto;
    font-weight: bold;
}
